.sliderList {
  margin: 0;  
  padding:0;
  list-style: none;

  .navLink {
    text-decoration: none;
    &:link, &:active, &:focus, &:hover{
      color: $light-text;
    }
  }
  .slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 3rem 0.5rem;
    align-items: center;
    height: calc( 100vh - 11.4rem );
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;

    .poster-img {
      height: calc( 100vh - 10rem ); 
      width: 60vh; 
      img {
        height: 100%;
        width: auto;
        max-width: 100%;
        border-radius: 5px;
      }
    }
    .intro {
      width: 23rem;
      margin-left: 1rem;
      .title {
        font-size: 1.5rem;
        color: $light-text;
        display: inline-block;
      }
      .vote{
        display: inline-block;
        margin-left: 2rem;

        .fgIcon {
          color: $light-green;
          position: relative;
          left: -1.44rem;
          margin-right: -0.8rem;
        }

        i {
          display: inline-block;
          margin: 0 0.25rem;
        }
      }
      .overview {
        margin-top: 1rem;
        color: $light-text;
        font-weight: 300;
      }
      .genres {
        margin-top: 2rem;
        font-weight: 600;
        color: white;
        .genreName {
          display: inline-block;
          &:after{
            content:',\00a0';
          }
          &:last-child {
            &:after {
              content:'|';
            }
          }
        }
      }
    }
  }

}
